* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* CABEÇALHO (Barra do Topo) */
.header {
    display: flex;
    justify-content: space-between;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    background-color: #00ccff73;
    padding: 30px;
    font-size: 35px;
}

.div-img img {
    rotate: -30deg;
    width: 80px;
    height: auto;
}

.div-header {
    font-size: 35px;
    font-weight: bold;
}

.div-logo img {
    width: 80px;
    height: auto;
}

/* BARRA DE NAVEGAÇÃO */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: #555;
}

/* Container for flexboxes */
.row {
    display: flex;
}

/* As 5 colunas de conteúdo */
.column {
    display: flex;
    flex: 1;
    /* Faz as 3 ocuparem espaço igual */
    padding: 10px;
    min-height: 300px;
    /* Should be removed. Only for demonstration */
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    /* Transição suave */
}

.row a {
    text-decoration: none;
    color: black
}

/* Cores das colunas */
#col1 {
    background-color: #00bfff;
}

#col2 {
    background-color: #00b2d1;
}

#col3 {
    background-color: #00ffff;
}

#col4 {
    background-color: #48d1cc;
}

#col5 {
    background-color: #20b2aa;
}

.column:hover {
    background-color: #b0e0e6 !important;
    cursor: pointer;
}

/* Style the footer */
.footer {
    display: flex;
    background-color: #92ff00;
    text-align: center;
}

.footer-sobre {
    display: flex;
    flex: 1;
    /* Ocupa metade do espaço */
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #32cd32;
}

.footer-redes {
    display: flex;
    flex: 1;
    /* Ocupa a outra metade */
    padding: 20px;
    width: 70px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #92ff00;
}

.footer-redes ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-redes ul li {
    margin: 0 10px;
    /* Espaçamento entre os ícones */
}

.footer-redes ul li img {
    width: 50px;
    height: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        flex-direction: column;
        /* Empilha as 5 colunas */
    }

    .footer {
        flex-direction: column;
        /* Empilha as 2 divs do rodapé */
    }
}